<link rel="import" href="../polymer/polymer.html">

<!--
`rise-logger-utils` is a web component that is a utilities helper for `rise-logger`.

-->

<script>
  ( function() {
    /* global Polymer */
    /* jshint newcap: false */

    "use strict";

    Polymer( {
      is: "rise-logger-utils",

      hostAttributes: {
        hidden: true
      },

      _getSuffix: function() {
        var date = new Date(),
          year = date.getUTCFullYear(),
          month = date.getUTCMonth() + 1,
          day = date.getUTCDate();

        if ( month < 10 ) {
          month = "0" + month;
        }

        if ( day < 10 ) {
          day = "0" + day;
        }

        return "" + year + month + day;
      },

      _getUsageType: function( href ) {
        var a = document.createElement( "a" ),
          type = "standalone";

        a.href = href;

        if ( a.hostname === "localhost" ) {
          type = "dev";
        }

        return type;
      },

      /**
       * Gets the data to use in the body of the POST request to Big Query
       *
       */
      getInsertData: function( params ) {
        var BASE_INSERT_SCHEMA = {
            "kind": "bigquery#tableDataInsertAllRequest",
            "skipInvalidRows": false,
            "ignoreUnknownValues": false,
            "templateSuffix": this._getSuffix(),
            "rows": [ {
              "insertId": ""
            } ]
          },
          data = JSON.parse( JSON.stringify( BASE_INSERT_SCHEMA ) );

        data.rows[ 0 ].insertId = Math.random().toString( 36 ).substr( 2 ).toUpperCase();
        data.rows[ 0 ].json = JSON.parse( JSON.stringify( params ) );
        data.rows[ 0 ].json.ts = new Date().toISOString();

        return data;
      },

      /**
       * Gets the params to use in the POST request to Big Query
       *
       */
      getInsertParams: function( params, displayId ) {
        var json = null;

        // event is required.
        if ( params.event ) {
          // clone params
          json = JSON.parse( JSON.stringify( params ) );

          // add the display id
          json.display_id = displayId;

          // add the usage type
          json.usage_type = json.usage_type || this._getUsageType( window.location.href );
        }

        return json;
      }

    } );

  } )();

</script>
